@import "tailwindcss";

html, body{
  margin: 0;
  background: #FAFAFA;
}

@layer base {
  
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  
  :root {
    --font-sans: 'Geist', sans-serif;
    --font-display: 'Zodiak', sans-serif;
    --font-mono: 'Geist Mono', sans-serif;
  }
}

@layer utilities {
  .font-display {
    font-family: var(--font-display);
    letter-spacing: -0.05em;
  }
  .font-mono {
    font-family: var(--font-mono);
    letter-spacing: -0.05em;
  }
  .noscrollbar {
    scrollbar-width: none;
  }
  .font-sans {
    font-family: var(--font-sans);
    letter-spacing: -0.05em;
  }
}